
a{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: lightcyan;
    transition: background-color 1.5s ease;
}

video{
    height: auto;
    width: 100%;
}

button{
    cursor: pointer;
}

/*variable to be used for scroll condition and modularity*/
:root{
    --MainHeight: 150vh;
    --PageAbout: 100vh;
    --PageHeightShort: 150vh;
}

/* banner style */
.StickyBanner{
    visibility:hidden; 
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 20px;

    /* border-color: darkslategray; */
    border-radius: 20px;
    width: 80vw;
    height: 5vh;
    background-color: white;
}

/* buttons for sticky banner needs updated style */
.StickyButtons{
    margin: 0px;  
    width: 20vw;
    height: 5vh;
    border: 0px;;
    border-radius: 20px;

    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}


.MiddleLeftSticky{
    
    margin: 0px;  
    width: 20vw;
    height: 5vh;
    border-inline-width: 1px;
    border-block-width: 0px;
    
    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.MiddleRightSticky{
    
    margin: 0px;  
    width: 20vw;
    height: 5vh;
    border-right-width: 1px;    
    border-left-width: 0px;    
    border-block-width: 0px;

    
    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}


.title{
    /*position of title container relative to the top*/
    position: absolute;
    top: 100px;

    /*specifies text to be centered wrt container, child containers centered (in background)*/
    text-align: center;
    letter-spacing: 0.3cm;
    line-height: 1cm;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300; 
}

.Subtitle{
    height: 70px;
    margin-bottom: 25px;
    text-align: center;
    /*specifies text to be centered wrt container, child containers centered (in background)*/
    letter-spacing: 0.1cm;
    line-height: 1cm;

    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300;
    
    
}

.OptionsBox{
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;

    background-color: white;
    
    /*defining container dimensions*/
    width: 650px;
    height: 260px;
    margin: 10px;
    padding: 50px;    

    /*defining text specifications*/
    letter-spacing: 0.3cm;
    line-height: 1.5cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}


.ButtonOpt{
        
    /*defining container dimensions*/
    width: 500px;
    height: 40px;
    margin: 10px;
    padding: 0px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    border-width: 1px;

    /*defining text specifications*/
    letter-spacing: 0.25cm;
    line-height: 1.5cm;
    -webkit-text-fill-color: cadetblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;   
}

.ButtonOpt:hover{
    filter: brightness(90%);
}


/* To define the layout style of the content inside the content section */
.GridContainer{
    display: flex;
    justify-content: center;
}

.Grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 50px;
    /* margin:25px; */

    width: 100vw;
    height: auto;
    margin-bottom: 10vh;
}

.GridAbout{
    grid-column: 5/13;
    text-wrap: wrap;
    text-align: center;
}

.GridContentDescription{
    grid-column: 7/16;
    margin: 10px;
    padding: 0px;       
}

.GridContentImage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    
    grid-column: 2/7;
    overflow: hidden;
}

.GridProjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-width: 2px;

    width: 75vw;

}

.GridProjectItem:nth-child(n){   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    background-color: white;
    border-radius: 15px;
    border-width: 0px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    height: 400px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.GridContact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    
    width: 50vw;
    margin-top: 15vh;
}

.FirstPage{
    width: auto;
    height: 60vw;
    display: flex;
    justify-content: center;
}

.PageAbout{
    width: 100vw;
    /* defining section text specs */
    height: 50vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

/* To define container style for each section of content */
.PageExperience{
    width: 100vw;
    height: auto;
    margin-bottom: 15vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.PageProjects{
    width: 100vw;
    /* defining section text specs */
    height: 80vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.PageContact{   
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}


.PageEmail{   
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    margin-block: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity 0.5s ease-in;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.EmailAddress{
    width: 50vw;
    height: 4vh;
    margin-bottom: 20px;
    padding-inline: 15px;

    border-radius: 10px;
    border-width: 1px;

    font-family: arial, times new roman, Courier New;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 1;    
}

input::placeholder{
    font-family: arial, times new roman, Courier New;
}

form{
    display: flex;
    flex-direction: column;
    margin-block: none;
}

textarea{
    resize: none;
overflow-y: hidden
;
}

.EmailContent{
    width: 50vw;
    height: 30vh;
    margin-bottom: 5vh;
    padding: 15px;
    border-radius: 1vw;
    border-width: 1px;

    font-family: arial, times new roman, Courier New;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 1;    
}

.SubmitButton{
    width: 20vw;
    height: 5vh;
    border-width: 1px;;
    border-radius: 20px;
    margin-bottom: 20vh;

    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.SubmitButton:hover{
    filter: brightness(90%);
}

.AboutContent{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.Contents{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.DescriptionTitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-bottom: 10px;
}

.DescriptionDetail{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    margin-bottom: 15px;
}

.Description{
    line-height: 1cm;
}

.ContactInfoRound{
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    margin: 0px;
    padding: 0px;

    justify-content: center;
    align-items: center;

    border-width: 0px;
}

.ContactInfoSquare{
    display: flex;
    width: 110px;
    height: 110px;
    border-radius: 25%;
    align-self: center;
    justify-self: center;
    margin: 0px;
    padding: 0px;

    justify-content: center;
    align-items: center;

    border-width: 0px;
}

.IconsSquare{
    left: 0;
    height: 110px;
    width: 110px;
    border-radius: 25%;
    transition: ease 0.2s;
    border-width: 1px;
}

.IconsRound{
    left: 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: ease 0.2s;
    border-width: 10px;
}

