
a
{
    text-decoration: none;
}

body
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: lightcyan;
    transition: background-color 1.5s ease;
}

video
{
    height: auto;
    width: 100%;
}

button
{
    cursor: pointer;
}

/*variable to be used for scroll condition and modularity*/
:root
{
    --MainHeight: 150vh;
    --PageAbout: 100vh;
    --PageHeightShort: 150vh;
    --PageHeightLong: 200vh;

}

/* banner style */
.StickyBanner
{
    visibility:hidden; 
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 20px;

    /* border-color: darkslategray; */
    border-radius: 20px;
    width: 80vw;
    height: 5vh;
    background-color: white;
}

/* buttons for sticky banner needs updated style */
.StickyButtons
{
    margin: 0px;  
    width: 20vw;
    height: 5vh;
    border: 0px;;
    border-radius: 20px;

    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.MiddleLeftSticky
{
    
    margin: 0px;  
    width: 20vw;
    height: 5vh;
    border-inline-width: 1px;
    border-block-width: 0px;
    
    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.MiddleRightSticky
{
    
    margin: 0px;  
    width: 20vw;
    height: 5vh;
    border-right-width: 1px;    
    border-left-width: 0px;    
    border-block-width: 0px;

    
    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}


.title
{
    /*position of title container relative to the top*/
    position: absolute;
    top: 100px;

    /*specifies text to be centered wrt container, child containers centered (in background)*/
    text-align: center;
    letter-spacing: 0.3cm;
    line-height: 1cm;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300; 
}

.Subtitle
{
    height: 70px;
    margin-bottom: 25px;
    text-align: center;
    /*specifies text to be centered wrt container, child containers centered (in background)*/
    letter-spacing: 0.1cm;
    line-height: 1cm;

    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300;
    
    
}

.OptionsBox
{
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;

    background-color: white;
    
    /*defining container dimensions*/
    width: 650px;
    height: 260px;
    margin: 10px;
    padding: 50px;    

    /*defining text specifications*/
    letter-spacing: 0.3cm;
    line-height: 1.5cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}


.ButtonOpt
{
        
    /*defining container dimensions*/
    width: 500px;
    height: 40px;
    margin: 10px;
    padding: 0px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    border-width: 1px;

    /*defining text specifications*/
    letter-spacing: 0.25cm;
    line-height: 1.5cm;
    -webkit-text-fill-color: cadetblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;   
}

.FirstPage
{
    width: auto;
    height: var(--MainHeight);
    display: flex;
    justify-content: center;
}

/* To define container style for each section of content */
.PageContentLong
{
    width: 100vw;
    height: auto;
    margin-bottom: 15vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.PageContentShort
{
    width: 100vw;
    /* defining section text specs */
    height: var(--PageHeightShort);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.PageAbout
{
    width: 100vw;
    /* defining section text specs */
    height: var(--PageAbout);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}
/* To define the layout style of the content inside the content section */
.GridContainer
{
    display: flex;
    justify-content: center;
}
.Grid
{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 50px;
    /* margin:25px; */

    width: 100vw;
    height: auto;
    margin-bottom: 10vh;
}

.GridAbout
{
    grid-column: 5/13;
    text-wrap: wrap;
    text-align: center;
}

.GridContentDescription
{
    grid-column: 7/16;
    margin: 10px;
    padding: 0px;       
}

.GridContentImage
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    
    grid-column: 2/7;
    overflow: hidden;
}

.GridProjects
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-width: 2px;

    width: 75vw;

}

.GridProjectItem:nth-child(n)
{   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    background-color: white;
    border-radius: 15px;
    border-width: 0px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    height: 350px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
                 Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
}

.AboutContent
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.Contents
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.DescriptionTitle
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-bottom: 10px;
}

.DescriptionDetail
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    margin-bottom: 15px;
}

.Description
{
    line-height: 1cm;;
}


